#nav-bar{
  position: fixed;
  min-width: 300px;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0,22,22,0.6)
}
#nav-bar ul{
  height:88%;
  overflow-y:auto;
  overflow-x:hidden;
}
#nav-bar li{
  color: #E9967A;
  font-size: 18px;
  border: 1px solid #A9A9A9 ;
  border-width: 1px 0;
  border-bottom-width: 0px;
  list-style: none;
  padding:10px;
  padding-left: 22px;
  position: relative;
  width: 100%;
  
}
header{
  font-size: 20px;
  color: #CD853F;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}
#nav-bar ul .nav-link{
  text-decoration: none;
}
section article{
  color: #A52A2A;
  margin: 15px;
  margin-left: 350px;
  font-size: 0.90em;
}
section #Javascript_and_Java{
  margin-left: 89px;
}
section blockquote{
  font-size: 0.90em;
  background-color: #FAEBD7;
}
section #variables{
  margin-right: 50px;
}
section #global_variables{
  margin-left: 53px;
}
section #variable_scope{
  margin-left: 33px;
}
section #function_declaration{
  margin-left: 110px;
}
footer{
  padding: 10px;
  text-align: right;
  font-size: 0.89em;
  color: #A9A9A9;
}